@model IEnumerable<Reader>
@{
    ViewData["Title"] = "Reader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Reader</h1>
<hr />
<table class="table table-bordered table-hover table-responsive " style="text-align:center">
    <thead>
        <tr>
            <td>Reader Id</td>
            <td>Reader Name</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var reader in Model)
        {

            <tr>
                <td>@reader.ReaderId</td>
                <td>@reader.ReaderName</td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                {
                    <div style="display: flex; justify-content:center">
                        <div style="margin-right: 5px;">
                            <a asp-action="DeleteReader" asp-route-id="@reader.ReaderId" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete this reader?');">Delete Reader</a>
                        </div>
                        <div>
                            <a asp-action="UpdateReader" asp-route-id="@reader.ReaderId" class="btn btn-success">Update Reader</a>
                        </div>
                    </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Worker"))
{
<form asp-action="ShowAddReaderForm">
    <button class="btn btn-success" style="width:100%">Add Reader</button>
</form>
}