@model LibraryManagementSystem.Models.Reader
@{
    ViewData["Title"] = "UpdateReader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Update Reader</h1>
<hr />
<form asp-action="UpdateReader" method="post">
    <input type="hidden" asp-for="ReaderId" />

    <div class="form-group">
        <label asp-for="ReaderName">Reader Name</label>
        <input asp-for="ReaderName" class="form-control" />
        <span asp-validation-for="ReaderName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Reader</button>
</form>

<a asp-action="Reader" class="btn btn-secondary mt-2">Back to Reader</a>