@model LibraryManagementSystem.Models.Author
@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center">Add Author To Library</h1>
<hr />
<form asp-action="AddAuthor" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="AuthorName">Author Name</label>
        <input asp-for="AuthorName" class="form-control" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="width:100%">Add Author</button>
</form>
