@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1, h2 {
        text-align: center
    }
</style>

<header>
    <h1>Contact Us</h1>
</header>
<hr />
<section>
    <h2>
        Mission of the Library Management System
    </h2>
    <p>
        Our mission is to offer quality library management software that you can trust to help you do your job efficiently.

        We love to hear your ideas and welcome your feedback. They help us improve our library management software for you.

        We can boast 99% client retention. That’s because we look after our clients from the very start and ongoing.
    </p>
</section>

<section>
    <h2>
        Contact Us
    </h2>
    <p>
        Thank you for visiting BiblioTECH's Contact Us page. We are committed to providing innovative library management solutions to educational institutions throughout Australia. Our aim is to enhance your library's efficiency and productivity, while also simplifying administrative tasks and providing an optimal user experience for students, staff and the wider community.

        At BiblioTECH, we pride ourselves on our exceptional customer service. Our team of experienced professionals are always available to assist with any questions or comments you may have. We believe in developing strong partnerships with our clients, based on open communication and a shared commitment to achieving excellence in library management.
    </p>
</section>

