@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1, h2 {
        text-align: center
    }
</style>
<header>
    <h1>
        Library Privacy Guidelines for Library Management Systems
    </h1>
    <hr />
</header>

<section>
    <h2>Introduction</h2>
    <p>
        Library management systems (LMS) are also known as integrated library systems (ILS). Libraries use them to inventory collections and manage user records. The LMS stores personal data collected from users. It also maintains records of what items users borrow, the holds they place, and bills they may incur. In addition, the LMS may share data with third parties. One reason would be to provide authentication for online resources.
        Library procedures and practices for managing the LMS should reflect library ethics, policies, and legal obligations concerning user privacy. Agreements between libraries and vendors should specify the following:

        Libraries retain ownership of all data;
        The vendor will comply with the appropriate federal, state, and local library privacy laws;
        The vendor agrees to observe the library's privacy, data retention, and security policies; and
        Other parties used by the vendor will follow these policies.
        ALA provides these guidelines for libraries using an LMS. The guidelines include information about appropriate data management and security practices for library users' personal data.
    </p>
</section>

<section>
    <h2>
        Clear Privacy Policies
    </h2>
    <p>
        A library's privacy policy should reflect its data privacy practices for the LMS. The following practices help to create and maintain clear privacy policies:

        First Notice: When users register for a library card or borrow materials for the first time, notify them of library privacy policies.
        Easy and Available: Library privacy policies should be easily available and easy to understand, using plain language. The policies also need to be in a publicly accessible format and in the languages of the major service populations.
        Change Notices: Libraries need to have a proactive process to notify ongoing users of any changes to the library's privacy policies.
    </p>
</section>

<section>
    <h2>
        User Consent and Rights
    </h2>
    <p>
        LMS users should have options as to how much personal data is collected from them and how it may be used. Wherever possible, users should have the ability to access, modify, and delete personal data in the LMS at any time. Users should have a choice about whether to opt in to anything that requires personal data collection beyond what is required for business operations. Users should also have the ability to opt out if they change their minds. Users should be able to have the data destroyed when possible.
        Example: The LMS offers the ability to save the checkout history. This should be an opt-in feature. If users opt in, they should be able to opt out. They should also be able to have that checkout history destroyed.
    </p>
</section>

<section>
    <h2>
        Access to Personal Data
    </h2>
    <p>
        Users should have the right to access their own personal data and check its accuracy. Instructions on how the user can access their personal data should be clear and easy to find.

        Third-party access to personal data should follow the applicable state laws on confidentiality of library records. They should also follow any other applicable local, state, and federal laws. This includes a user's access to another user's personal data in the LMS.

        State and federal laws may give parents, guardians, and educators access to the library records of minors (see Library Privacy Guidelines for Students in K-12 Schools). Staff access to user data should be restricted to specific roles. Those roles should only allow for the minimal amount of data needed to complete an operational task.
    </p>
</section>

<section>
    <h2>
        Collection & Retention of User Data
    </h2>
    <p>
        Libraries should minimize the amount of personal data they collect. They should limit that amount to only the information required to provide a service or meet a specific operational need. Library policies about personal data should also cover the use of any free-text note fields associated with the user's record. Collecting some types of data puts users at risk for harm if the data is breached or improperly used. Libraries should asses their direct operational needs before considering the collection of high-risk sensitive data, such as:

        Government or organization issued identification numbers (e.g. Social Security Numbers, Student ID, Driver’s License Numbers)
        Library use history (other than materials currently checked out) or behavior
        Demographic information (e.g. gender identity, race/ethnicity, employment)
        Collecting this information may conflict with Article VII of the Library Bill of Rights.
        Libraries should ask themselves the following questions when they want to collect personal data in a free text field:

        Why does a library need to collect that data?
        What is it being used for?
        Will the service not work if the data isn't collected?
        Who has access to it?
        How long does it need to be kept?
        Personal data should not be retained in perpetuity. The library should have policies for how long to retain different types of data including borrowing history. The library should also have methods for securely destroying data when it's no longer needed. For example, libraries should purge accounts that are expired or inactive for a certain amount of time. Retention policies should also cover archival copies and backups.
    </p>
</section>

<section>
    <h2>
        LMS Cloud Hosting Security and Privacy
    </h2>
    <p>
        A vendor who offers a cloud-hosted LMS should be audited for data security and privacy practices. This should be done on an annual basis.

        Security involves both managerial and technical measures to protect against the following:

        loss
        unauthorized access
        destruction
        use
        disclosure of data
        Vendors should integrate security measures into the design, implementation, and day-to-day practices of their entire operating environment. This should be part of the vendor's continuing commitment to risk management.

        The vendor should seek compliance with published cybersecurity standards. These standards should come from organizations, such as the National Institute of Standards and Technology (NIST).

    </p>
</section>

<section>
    <h2>
        Analytics and LMS Data
    </h2>
    <p>
        Some LMSs are sold with built-in analytics modules or customer relationship management systems (CRMs). Other LMSs allow libraries to export user data for analytical purposes.
        Libraries using LMS data for analytical purposes must balance the operational needs for data and the user's right to privacy. Libraries should review and assess the user privacy risks that come with using LMS data for analytical purposes. Libraries should also consider possible violations to the user's privacy rights. For example, user profiling and other tracking methods directly conflict with the right to privacy. This profiling can occur within the LMS itself. Examples include the unnecessary collection and storage of personal data, such as borrowing history and other library use behaviors. Another example includes combining personal LMS data with external data, such as credit reporting companies or census information to create individually identifiable profiles.
        Libraries must also consider risks to user privacy when working with vendor-hosted analytics products. Libraries need to check whether vendors will disclose, reuse, or sell user data or profiles to other third parties or government agencies. If a vendor does this, negotiate the removal of data sharing from the contract. Refer to the Vendor Guidelines and the Privacy and Confidentiality Q&A for more guidance on LMS data and analytics.
        Whenever possible, libraries using LMS data to enhance the library experience should do so on an opt-in basis.

    </p>
</section>

<section>
    <h2>Privacy Awareness</h2>
    <p>
        Libraries should establish and sustain privacy awareness practices with library staff and affiliates who have access to LMS data. This includes:

        Staff Training: Regular, ongoing training for library staff who have access to user data in the LMS. Training should include the library's privacy policies and best practices for safeguarding user privacy.
        Privacy Audits: Conducting regular privacy audits. This helps to verify that all LMS processes and procedures comply with privacy policies.
        Response Plans: Creating and regularly reviewing response plans for LMS data incidents. Examples of these incidents could be data breaches or leaks. The response plan should include communications to staff and affected users. The response plan should also include what steps to take to remedy and/or mitigate the damage from the incident.
    </p>
</section>


